*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: 0;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  align-items: end;
  width: 1140px;
  gap: 30px;
}

.search-form{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list-container{
  position: relative;
  overflow: auto;
}

.content__details{
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 26px;
  width: 399px;
  height: 534px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container{
  position: relative;
  width: 711px;
  height: 386px;
  
}

.result__video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.content__list{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item:nth-last-child(1){
  padding-bottom: 30px;
}

.content__video-card{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-thumbnail{
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container{
  min-width: 196px;
  display: flex;
  flex-direction: column;
}

.search-form__fieldset-title{
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 5px;
}

.search-form__fieldset{
  display: flex;
  flex-direction: column;
  width: fit-content;
  font-family: "Fira Sans Condensed",sans-serif;
  font-weight: 400;
  font-size: 18px;
  border: none;
}

.title{
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent{
  color: #545050;
}

.content__card-link{
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__video-card-title{
  width: 196px;
  font-family: "Oswald",sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 100%;
}

.content__video-card-description{
  width: 196px;
  font-family: "Fira Sans Condensed",sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  display: -webkit-box;       
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;      
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list{
  display: flex;
  gap: 15px;

}


.search-form__label{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 2px;
}

.search-form__textfield{
  width: 225px;
  font-family: "Fira Sans Condensed",sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  
}

input[type=text]{
  color: #fff;
  appearance: none;
}

.search-form__textfield::placeholder{
  color: rgb(255 255 255 / 0.7);
}



.search-form__label:has(:focus-visible){
  outline: 1px solid white;
}

.search-form__textfield:focus{
  outline: none;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked
  + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text{
  cursor: pointer;
  text-decoration: underline;
}



.button{
  font-family: "Fira Sans Condensed",sans-serif;
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  color: #fff;
  width: 194px;
  min-height: 34px;
  border: 1px solid #fff;
  cursor: pointer;
}

.more-button{
  width: 100%;
}

.search-form__submit-button{
  align-self: flex-end;
}

.button:hover{
  text-decoration: underline;
}

.button:active{
  background-color: #545050;
}

.button:focus{
   outline: none;
}

.button:focus-visible{
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__card-link_current{
  background-color: #545050;
}

.content__card-link:active{
  background-color: #545050;
}

.content__card-link:hover{
  cursor: pointer;
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}


